﻿@*@model IEnumerable<JacksonFiveProperties.Models.LetterFiles>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isUsed)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isUsed)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@
@model  IEnumerable<JacksonFiveProperties.Models.LetterModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Documents Upload</title>
</head>
<body>
    @using (Html.BeginForm("Index", "LetterFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="postedFile" />
        <input type="submit" id="btnUpload" value="Upload" />
    }
    @using (Html.BeginForm("DownloadFile", "LetterFiles", FormMethod.Post))
    {
        <input type="hidden" id="hfFileId" name="FileId" />
        <input type="submit" id="btnDownload" value="Download" style="display:none" />
    }
    <hr />
    <table cellpadding="0" cellspacing="0" class="table">
        <tr>
            @*<th style="width:50px">File ID</th>*@
            <th style="width:120px">File Name</th>
            <th style="width:80px">Download</th>
            <th style="width:80px">Delete</th>
        </tr>
        @if (Model.Count() > 0)
        {
            foreach (var file in Model)
            {

                <tr>
                    @*<td>@file.Id</td>*@
                    <td>@file.Name</td>
                    <td><a href="javascript:;" onclick="DownloadFile(@file.Id)">Download</a></td>
                    @*<td><a href="javascript:;" onclick="Delete(@file.Id)" id="btndelete">Delete</a></td>*@
                    <td>@Html.ActionLink("Delete", "DeleteFile", new { id = file.Id })</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        }
    </table>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        function DownloadFile(fileId) {
            debugger;
            $("#hfFileId").val(fileId);
            $("#btnDownload")[0].click();
        };
        function Delete(fileId) {

            //$("#btndelete").click(function (fileId) {
            $("#hfFileId").val(fileId);
            $.ajax({
                url: '/LetterFiles/DeleteFile',
                method: 'DELETE',
                data: {
                    ID: $('#hfFileId').val()
                },
                success: function (id) {
                    debugger;
                }
            });
            //});
        }
    </script>
</body>
</html>
@section Scripts {

    <script type="text/javascript">if ('@TempData["Success"]' != '') { toastr.success('@TempData["Success"]') }</script>
    <script type="text/javascript">if ('@TempData["Error"]' != '') { toastr.error('@TempData["Error"]') }</script>
}
