﻿@model JacksonFiveProperties.Models.TransactionViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Rent Transaction</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Transactions.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Transactions.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Transactions.Date, new { htmlAttributes = new { @class = "form-control datepicker", @id = "date" } })
                @Html.ValidationMessageFor(model => model.Transactions.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Transactions.PropertyID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(mv => mv.Transactions.PropertyID, Model.Propertyselect, new { @class = "form-control dropdown" })
                @*@Html.EditorFor(model => model.PropertyID, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Transactions.PropertyID, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Transactions.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Transactions.Type, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Transactions.Type, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Transactions.Reference, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Transactions.Reference, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Transactions.Reference, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Comments", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Transactions.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Transactions.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Transactions.Debit, "Cash Flow Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-inline col-md-10">
                @Html.DropDownListFor(model => model.Transactions.Debit, JacksonFiveProperties.Models.Transactions.DebitList, "--  Select Cash Flow  --", new { @class = "form-control dropdown col-md-4" })
            </div>
            </div>*@
        @*<div class="form-group">
                @Html.LabelFor(model => model.Transactions.Credit, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Transactions.Credit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Transactions.Credit, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.Label("Rent", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-inline col-md-10">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                @Html.EditorFor(model => model.Transactions.Amount, new { htmlAttributes = new { @class = "form-control", @id = "currency"  } })
                @Html.ValidationMessageFor(model => model.Transactions.Amount, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#date").inputmask('99/99/9999');
              $("#currency").inputmask({
                max: '99999999.99',
                alias: 'currency',
                prefix: ''
                //allowPlus: false,
                //        autoUnmask: true,
            });
        });
    </script>
    <script type="text/javascript">if ('@TempData["Success"]' != '') { toastr.success('@TempData["Success"]') }</script>
    <script type="text/javascript">if ('@TempData["Error"]' != '') { toastr.error('@TempData["Error"]') }</script>
}
