﻿@model  PagedList.IPagedList<JacksonFiveProperties.Models.Transactions>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container" style="width: 115%;">
        <h2>Rent Index</h2>

        <p>
            <button type="button" onclick="location.href='@Url.Action( "Create")'" class="btn btn-outline-primary">
                Add Rent Transaction
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            @*@Html.ActionLink("Create New", "Create")*@
        </p>
        @using (Html.BeginForm())
        {
            <p class="form-inline">
                Find by address: @Html.TextBox("SearchString", null, new { @class = "form-control" })
                <input type="submit" value="Search" class="btn btn-info" />
            </p>
        }
        <table class="table" style="width: 115%;">
            <tr>
                <th>
                    @Html.ActionLink("Date Rent Recieved", "Index", new { sortOrder = ViewBag.DateSortParm })
                </th>
                <th>
                    @Html.ActionLink("Address", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>*@
                <th>
                    Rent Receipt No
                </th>
                <th>
                    @Html.Label("Comments")
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Debit)
                </th>*@
                <th>
                    @Html.Label("Rent")
                </th>

                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Credit)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Reference)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Debit)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
@section Scripts {

    <script type="text/javascript">if ('@TempData["Success"]' != '') { toastr.success('@TempData["Success"]') }</script>
    <script type="text/javascript">if ('@TempData["Error"]' != '') { toastr.error('@TempData["Error"]') }</script>
}
