﻿@model JacksonFiveProperties.Models.MaintenceViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Maintence</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Maintence.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Maintence.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Maintence.Date, new { htmlAttributes = new { @class = "form-control", @id = "date" } })
                @Html.ValidationMessageFor(model => model.Maintence.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maintence.PropertyID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("property", new SelectList(@ViewBag.data, "ID", "Address"), "--  Select Address  --", new { @class = "form-control dropdown", Value = @ViewBag.data, required = "required" })*@
                @*@Html.EditorFor(model => model.Maintence.PropertyID, Model.Propertyselect, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(mv => mv.Maintence.PropertyID, Model.Propertyselect, new { @class = "form-control dropdown" })
                @Html.ValidationMessageFor(model => model.Maintence.PropertyID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maintence.Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Maintence.Time, new { htmlAttributes = new { @class = "form-control", @id = "datetimepicker3" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
                <p class="h6">
                    @Html.Label("example: 12:30 AM", new { @class = "blockquote-footer" })
                </p>
                @Html.ValidationMessageFor(model => model.Maintence.Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maintence.By, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Maintence.By, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Maintence.By, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maintence.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Maintence.Description, 10, 80, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Maintence.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maintence.Parts, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Maintence.Parts, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Maintence.Parts, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maintence.LaborHours, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Maintence.LaborHours, 10, 80, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Maintence.LaborHours, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maintence.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-inline col-md-10">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                @Html.EditorFor(model => model.Maintence.Amount, new { htmlAttributes = new { @class = "form-control", @id = "currency" } })
                @Html.ValidationMessageFor(model => model.Maintence.Amount, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#date").inputmask('99/99/9999');

            $("#currency").inputmask({
                max: '99999999.99',
                alias: 'currency',
                prefix: ''
                //allowPlus: false,
                //        autoUnmask: true,
            });
        });
        $("#datetimepicker3").inputmask('99:99 AA');
    </script>
    <script type="text/javascript">if ('@TempData["Success"]' != '') { toastr.success('@TempData["Success"]') }</script>
    <script type="text/javascript">if ('@TempData["Error"]' != '') { toastr.error('@TempData["Error"]') }</script>
}
